/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: "#3475cc";
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}
.banner .content h2 {
  color: #ffffff;
  font-size: 60px;
}
.banner .content p {
  color: #ffffff;
  font-size: 18px;
}
.banner header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
.banner header .logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.banner header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url(./Images/ui.png);
  background-size: cover;
  cursor: pointer;
}
.about {
  position: relative;
  width: 100%;
  display: flex;
}
.about .col {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
.about .contextBx {
  background: #162c3b;
  padding: 100px;
  width: 50%;
}
.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.about .imgBx {
  background-image: url(./Images/image.svg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
.services {
  background: #12222d;
  padding: 100px;
  text-align: center;
}
.services .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.services .container .serviceBx {
  position: relative;
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .serviceBx img {
  max-width: 100px;
}
.services .container .serviceBx h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

.technology {
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology .contextBx {
  max-width: 800px;
}
.technology .imgBx {
  max-width: 100px;
}
.technology .imgBx img {
  max-width: 100%;
}

.client {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}
.client .imgBx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.client .imgBx img {
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}
.client .imgBx img:hover {
  opacity: 1;
}
.testinomials {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}
.testinomials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.testinomials .container .contentBx {
  background: #fff;
  padding: 60px 50px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.testinomials .container .contentBx p {
  font-style: italic;
}
.testinomials .container .contentBx h3 {
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #3f8ffc;
}
.contact {
  padding: 100px;
  background: #162c3b;
  text-align: center;
}
.imgBx2 {
  background: url(./Images/image.svg);
  background-size: cover;
  background-position: center;
  width: 50%;
}
.form .inputBx input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  width: 80%;
  height: 10vh;
  margin: auto;
  align-items: center;
}
header img {
  max-width: 20px;
}
.logo-container {
  flex: 1;
}
.logo-container,
.nav-links,
.cart {
  display: flex;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  margin: 0 20px;
  color: #5f5f79;
  text-decoration: none;
  font-size: 18px;
}
.logo {
  font-weight: 400;
  margin: 5px;
  cursor: pointer;
}
.nav {
  flex: 2;
}
.cart {
  flex: 1;
  justify-content: flex-end;
  cursor: pointer;
}
.presentation {
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
/* .cover img {
  height: 40vh;
} */
.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.introduction {
  flex: 1;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  columns: #585772;
}
.cta {
  padding: 50px 0px 0px 0px;
}
.cover img {
  height: 100%;
  /* box-shadow: 3px 3px 3px black; */
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}
.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.3;
  height: 90%;
  z-index: -1;
}
.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  opacity: 0.3;
  height: 20%;
  z-index: -1;
}
.medium-circle {
  position: absolute;
  top: 35%;
  right: 35%;
  opacity: 0.5;
  height: 50%;
  z-index: -1;
}
.laptop {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 60%;
}
.laptop img {
  width: 40px;
}
.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.cta-add {
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0px 0px 20px;
}
button {
  font-family: "Poppins", sans-serif;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@media screen and(max-width:360px) {
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .laptop {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
  }
  .cover img {
    height: 80%;
  }
}
